<div class="form-group float-left">
  <label for="selector" class="text-info">
    {{@label}}
  </label>
  <select id="selector" class="p-1" {{on 'change' (fn @update @label)}}>
    {{#each @items as |item|}}
      <option value={{item.value}} selected={{item.selected}}>
        {{item.value}}
      </option>
    {{/each}}
  </select>
</div>