<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ember-cli-barcode</a>
    </div>

  <div class="nav navbar-nav navbar-right">
    <a href="https://github.com/maxwondercorn/ember-cli-barcode"><img  class="github" src="assets/images/GitHub-Mark-32px.png"></a>
  </div>
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container-fluid">

  <p class="lead">
    This demo shows a subset of jsbarcode's
    <a href="https://github.com/lindell/JsBarcode/wiki/Options">options</a>. Each barcode format has different rules on what characters (alpha, mumeric, etc) and lengths are allowed
    to generate a valid barcode. Valid barcode values are loaded when changing barcode formats.
  </p>

  <hr>

  <div class="row">

    <div class="col-md-1">
      <label class="text-info">Format</label>
      {{demo-selector items=formats value=format}}
    </div>

    <div class="col-md-1">
      <label class="text-info">Wdith</label>
      {{demo-selector items=widths value=width}}
    </div>

    <div class="col-md-1">
      <label class="text-info">Height</label>
      {{demo-selector items=heights value=height}}
    </div>

    <div class="col-md-1">
      <label class="text-info">Value</label>
      {{demo-selector items=dispalyValues value=displayValue}}
    </div>

    <div class="col-md-1">
      <label class="text-info">Font Size</label>
      {{demo-selector items=fontSizes value=fontSize}}

    </div>

    <div class="col-md-1">
      <label class="text-info">Font Opt</label>
      {{demo-selector items=fontOptions value=fontOption}}
    </div>

    <div class="col-md-1">
      <label class="text-info">Fonts</label>
      {{demo-selector items=fonts value=font}}
    </div>

    <div class="col-md-1">
      <label class="text-info">Align</label>
      {{demo-selector items=alignOptions value=textAlign}}
    </div>

    <div class="col-md-1">
      <label class="text-info">Position</label>
      {{demo-selector items=positions value=textPosition}}
    </div>

    <div class="col-md-1">
      <label class="text-info">Background</label>
      {{input type="text" value=background}}
    </div>

    <div class="col-md-1">
      <label class="text-info">Color</label>
      {{input type="text" value=lineColor}}
    </div>

    <div class="col-md-2">

    </div>

  </div>
  
  <hr>

  <div class="row display">

    <div class="col-md-9">

      <div class="pull-left barcode">
        <label class="text-info">SVG</label>
        {{bar-code value=currentValue tagName="svg" options=demoOptions}}
      </div>

      <div class="pull-left barcode">
        <label class="text-info">IMG</label>
        {{bar-code value=currentValue tagName="img" options=demoOptions}}
      </div>

      <div class="pull-left barcode">
        <label class="text-info">CANVAS</label>
        {{bar-code value=currentValue tagName="canvas" options=demoOptions}}
      </div>

    </div>

    <div class="col-md-2 options">
      options = {
      <div class="params">
        {{#each-in demoOptions as |name values|}} {{name}}: '{{values}}',
        <br /> {{/each-in}}
      </div>
      }
    </div>
  </div>

  <hr>

  <div class="row">

    <div class="col-md-6">
      This section demonstrates the `valid` parameter. The EAN8 barcode value must be numeric and eight characters long. 
      Deleting and/or modifying the value whill trigger the action when the code becomes invalid.
    </div>

  </div>

  <div class="row display">

    <div class="col-md-offset-1 col-md-2">
      <label class="text-info">Value</label>
      {{input type="text" value=testValue}}
      <br /><span class="text-danger">{{if validCode '' 'Code Invalid'}}</span>
    </div>

  {{bar-code value=testValue format="EAN8" tagName="svg" valid=(action 'checkValid')}}

  
  </div>

</div>