{{! template-lint-disable self-closing-void-elements }}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="sr-only">
          Toggle navigation
        </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span clxass="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        ember-cli-barcode
      </a>
    </div>
    <div class="nav navbar-nav navbar-right">
      v
      {{version}}
      <a href="https://github.com/maxwondercorn/ember-cli-barcode">
        <img class="github" alt="" src="assets/images/GitHub-Mark-32px.png" />
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <p class="lead">
    This demo shows a subset of jsbarcode's
    <a href="https://github.com/lindell/JsBarcode/wiki/Options">
      options
    </a>
    . Each barcode format has different rules on what characters (alpha, mumeric, etc) and lengths are allowed
    to generate a valid barcode. Valid barcode values are loaded when changing barcode formats.
  </p>
  <hr />
  <div class="row">
    <div class="col-md-1">
      <label class="text-info">
        Format
      </label>
      <DemoSelector @items={{this.formats}} @value={{this.format}} />
    </div>
    <div class="col-md-1">
      <label class="text-info">
        Wdith
      </label>
      <DemoSelector @items={{this.widths}} @value={{this.width}} />
    </div>
    <div class="col-md-1">
      <label class="text-info">
        Height
      </label>
      <DemoSelector @items={{this.heights}} @value={{this.height}} />
    </div>
    <div class="col-md-1">
      <label class="text-info">
        Value
      </label>
      <DemoSelector @items={{this.dispalyValues}} @value={{displayValue}} />
    </div>
    <div class="col-md-1">
      <label class="text-info">
        Font Size
      </label>
      <DemoSelector @items={{this.fontSizes}} @value={{this.fontSize}} />
    </div>
    <div class="col-md-1">
      <label class="text-info">
        Font Opt
      </label>
      <DemoSelector @items={{this.fontOptions}} @value={{this.fontOption}} />
    </div>
    <div class="col-md-1">
      <label class="text-info">
        Fonts
      </label>
      <DemoSelector @items={{this.fonts}} @value={{this.font}} />
    </div>
    <div class="col-md-1">
      <label class="text-info">
        Align
      </label>
      <DemoSelector @items={{this.alignOptions}} @value={{this.textAlign}} />
    </div>
    <div class="col-md-1">
      <label class="text-info">
        Position
      </label>
      <DemoSelector @items={{this.positions}} @value={{this.textPosition}} />
    </div>
    <div class="col-md-1">
      <label class="text-info">
        Background
      </label>
      <Input @type="text" @value={{this.background}} />
    </div>
    <div class="col-md-1">
      <label class="text-info">
        Color
      </label>
      <Input @type="text" @value={{this.lineColor}} />
    </div>
    <div class="col-md-2"></div>
  </div>
  <hr />
  <div class="row display">
    <div class="col-md-9">
      <div class="pull-left barcode">
        <label class="text-info">
          SVG
        </label>
        <BarCode
          @value={{this.currentValue}}
          @tagName="svg"
          @options={{this.demoOptions}}
        />
      </div>
      <div class="pull-left barcode">
        <label class="text-info">
          IMG
        </label>
        <BarCode
          @value={{this.currentValue}}
          @tagName="img"
          @options={{this.demoOptions}}
        />
      </div>
      <div class="pull-left barcode">
        <label class="text-info">
          CANVAS
        </label>
        <BarCode
          @value={{this.currentValue}}
          @tagName="canvas"
          @options={{this.demoOptions}}
        />
      </div>
    </div>
    <div class="col-md-2 options">
      options = {
      <div class="params">
        {{#each-in demoOptions as |name values|}}
          {{name}}:{{values}},<br />
        {{/each-in}}
      </div>
      }
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      This section demonstrates the `valid` parameter. The EAN8 barcode value must be numeric and eight characters long. 
      Deleting and/or modifying the value will trigger the action when the code becomes invalid.
    </div>
  </div>
  <div class="row display">
    <div class="col-md-offset-1 col-md-2">
      <label class="text-info">
        Value
      </label>
      <Input @type="text" @value={{this.testValue}} />
      <br />
      <span class="text-danger">
        {{if validCode "" "Code Invalid"}}
      </span>
    </div>
    <BarCode
      @value={{this.testValue}}
      @format="EAN8"
      @tagName="svg"
      @valid={{action "checkValid"}}
    />
  </div>
</div>